---
layout: default
title: Tag
permalink: /tags/
---

{% assign rawtags = "" %}
{% for post in site.posts %}

	{% assign ttags = post.tags | join:'|' | append:'|' %}

	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}


{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% for tag in tags %}
	<h4>{{ tag }}</h4>
	<ul>
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li>
		 <h4>
		 <a href="{{ post.url | prepend: site.baseurl}}">
		 {{ post.title }}
		 </a>
		 <small class="post-meta">{{ post.date | date_to_string }}</small>
		 </h4>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42894049-2', 'auto');
  ga('send', 'pageview');

</script>